<!-- Navbar Start -->
<header class="primary">
    <div class="firstbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="brand">
                        <a href="index.html">
                            <img src="{{site.baseurl}}/assets/images/logo.png" alt="Magz Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form class="search" autocomplete="off">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Escribe algo aquí">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><i class="ion-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Start nav -->
    <nav class="menu">
        <div class="container">
            <div class="brand">
                <a href="#">
                    <img src="{{site.baseurl}}/assets/images/logo.png" alt="Magz Logo">
                </a>
            </div>
            <div class="mobile-toggle">
                <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
            </div>
            <div class="mobile-toggle">
                <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
            </div>
            <div id="menu-list">
                <ul class="nav-list">
                    <li class="for-tablet nav-title"><a>Menu</a></li>
                    <li><a href="category.html">Inicio</a></li>
                    <li class="dropdown magz-dropdown">
                        <a href="category.html">Categorías<i class="ion-ios-arrow-right"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="403.html">Cine</a></li>
                            <li><a href="404.html">Juegos</a></li>
                            <li><a href="500.html">Deportes</a></li>
                            <li class="dropdown magz-dropdown"><a href="503.html">Otros</a>
                                <ul class="dropdown-menu">
                                    <li><a href="403.html">Actualidad</a></li>
                                    <li><a href="403.html">Cultura</a></li>
                                    <li><a href="403.html">Productos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="category.html">Nosotros</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End nav -->
</header>