---
layout: main
---

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">{{ page.category-name }}</li>
                        </ol>
                        <h1 class="page-title">Categoría: {{ page.category-name }}</h1>
                        <p class="page-subtitle">Mostrando todas las publicaciones con la categoría <i>{{ page.category-name }}</i></p>
                    </div>
                </div>
                <div class="line"></div>
                {% assign posts = site.categories[page.category-name] %}
                {% include post_content.html posts=posts %}
            </div>
            <div class="col-md-4 sidebar">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>
