---
layout: default
---

{% include navbar.html %}

{{ content }}

<!-- Start footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 text-center">
                <div class="block">
                    <h1 class="block-title">Síguenos</h1>
                    <div class="block-body">
                        <p>Síguenos y mantente conectado para recibir las últimas noticias.</p>
                        <ul class="social trp">
                            {% if site.facebook_url %}
                            <li>
                                <a href="https://www.facebook.com/ExamenCritico/" class="facebook">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_url %}
                            <li>
                                <a href="https://twitter.com/ExamenCritico" class="twitter">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-twitter-outline"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.youtube_url %}
                            <li>
                                <a href="https://www.youtube.com/channel/UCqOp1xFhz8MjKoOhwQIjLAA" class="youtube">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-youtube-outline"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.instagram_url %}
                            <li>
                                <a href="https://www.instagram.com/examencritico/" class="instagram">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-instagram-outline"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.linkedin_url %}
                            <li>
                                <a href="#" class="linkedin">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-linkedin"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    COPYRIGHT &copy; MAGZ 2017. ALL RIGHT RESERVED.
                    <div>
                        Made with <i class="ion-heart"></i> by <a href="http://kodinger.com">Kodinger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

{% include javascript.html %}