---
layout: main
---

<section class="single">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar" id="sidebar">
            {% include sidebar.html %}
            </div>
            <div class="col-md-8">
                <ol class="breadcrumb">
                    <li><a href="{{site.baseurl}}/">Inicio</a></li>
                    <li class="active">{{ page.category }}</li>
                </ol>
                <article class="article main-article">
                    <header>
                        <h1>{{page.title}}</h1>
                        <ul class="details">
                            <li>Publicado el {{page.date | date: '%d de %b, %Y'}}</li>
                            <li><a>{{ page.category }}</a></li>
                            <li>por <a href="javascript:void(0)">{{ site.author }}</a></li>
                        </ul>
                    </header>
                    <div class="main">
                        {{ content }}
                    </div>
                </article>
                <div class="line">
                    <div>Autor</div>
                </div>
                <div class="author">
                    <figure>
                        <img src="{{"/assets/images/" | prepend: site.baseurl }}david-susa.jpg">
                    </figure>
                    <div class="details">
                        <div class="job">{{ site.author_tagline }}</div>
                        <h3 class="name">{{ site.author }}</h3>
                        <p>{{ site.author_text }}</p>
                        <!--<ul class="social trp sm">
                            <li>
                                <a href="#" class="facebook">
                                    <svg><rect/></svg>
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <svg><rect/></svg>
                                    <i class="ion-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="youtube">
                                    <svg><rect/></svg>
                                    <i class="ion-social-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="googleplus">
                                    <svg><rect/></svg>
                                    <i class="ion-social-googleplus"></i>
                                </a>
                            </li>
                        </ul>-->
                    </div>
                </div>
                <div class="line"><div>También te puede interesar</div></div>
                <div class="row">

                    {% assign randomPost = "" | split: ',' %}
                        {% for category in site.categories %}
                            {% if category[0] == page.category %}
                                {% for post in category[1] %}
                                    {% if post.title != page.title  %}
                                        {% assign randomPost = randomPost | push: post %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    {% assign randomPost = randomPost | sample: 3 %}

                    {% for post in randomPost %}
                    <article class="article related col-md-6 col-sm-6 col-xs-12">
                        <div class="inner">
                            <figure>
                                <a href="{{post.url | prepend: site.baseurl}}">
                                    <img src="{{"/assets/images/blog/" | prepend: site.baseurl | append : post.img-cover}}">
                                </a>
                            </figure>
                            <div class="padding">
                                <h2><a href="{{post.url | prepend: site.baseurl}}"> {{ post.title }}</a></h2>
                                <div class="detail">
                                    {% assign cat4url = post.category | remove:' ' | downcase | slugify:"latin" %}
                                    <div class="category"><a href="{{site.baseurl}}/blog/categoria/{{cat4url}}">{{ post.category }}</a></div>
                                    <div class="time">{{post.date | date: '%Y, %b %d'}}</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="line thin"></div>
            </div>
        </div>
    </div>
</section>
<!-- Blog -->